@import url('http://fonts.goggleapis.com/css2?family=ui-monospace:wght@400;700&display=swap');

* {
  box-sizing: border-box;
}

body {
  font-family: 'monospace', monospace;
  /* background-color: rgb(161, 100, 223); */
  background-color: #e1e1e1;
  /* display: flex;
          align-items: center;
          justify-content: center;
          text-align: center;
          overflow-x: hidden;
          height: 100vh;
          margin: 0; */
}
